{% load static %}
{% load humanize %}
<!doctype html>
<html>
<head>

 <link rel="stylesheet" href="{% static 'css/popup.css' %}"
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<body>
  
  


<div id="informational-banner" tabindex="-1" class="fixed top-0 start-0 z-50 flex flex-col justify-between w-full p-4 border-b border-gray-200 md:flex-row bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
    
    <div class="flex items-center flex-shrink-0">
        <a href="#" class="inline-flex items-center justify-center px-3 py-2 me-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"><svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
    <path d="M9 1.334C7.06.594 1.646-.84.293.653a1.158 1.158 0 0 0-.293.77v13.973c0 .193.046.383.134.55.088.167.214.306.366.403a.932.932 0 0 0 .5.147c.176 0 .348-.05.5-.147 1.059-.32 6.265.851 7.5 1.65V1.334ZM19.707.653C18.353-.84 12.94.593 11 1.333V18c1.234-.799 6.436-1.968 7.5-1.65a.931.931 0 0 0 .5.147.931.931 0 0 0 .5-.148c.152-.096.279-.235.366-.403.088-.167.134-.357.134-.55V1.423a1.158 1.158 0 0 0-.293-.77Z"/>
  </svg>{{request.user}}</a>
   <a href="#" class="inline-flex items-center justify-center px-3 py-2 me-2 text-xs font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{level}}</a>
    <a href="#" class="inline-flex items-center justify-center px-3 py-2 me-2 text-xs font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{request.user.mining.speed | intcomma}} words/hr</a>
    </div>
</div>

  
  
  
  

  
  
<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-900">
  <div class="w-full max-w-lg p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 overflow-auto max-h-[70vh]">
    <div class="flex flex-col items-start mb-3 me-4 md:items-center md:flex-row md:mb-0 align:center items-center justify-center">
      <a href="https://flowbite.com/" class="flex items-center mb-2 border-gray-200 md:pe-4 md:me-4 md:border-e md:mb-0 dark:border-gray-600">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-10 me-2" alt="Flowbite Logo">
        <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white text-lg">{{ counter.value | intcomma}} </span>
      </a>
    </div>

<!--center image -->
<div class="flex items-center justify-center mb-3">
  <img src="{% static 'images/keyboard_cee.png' %}" alt="Your Image" class="w-full max-w-xs rounded-lg shadow">
</div>







    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
      <a href="#" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
     
        <div class="text-left rtl:text-right h-9">
          <div class="-mt-1 font-sans text-sm font-semibold"><form id="counter-form" method="post" action="{% url 'increment_counter' %}">
                {% csrf_token %}
                <button id="mine-btn-js">Start Mining Keys!</button>
            </form></div>
        </div>
      </a>
    </div>
  </div>
</div>

  
  
  
  
  
  
  


<div class="fixed bottom-0 z-50 w-full -translate-x-1/2 bg-white border-t border-gray-200 left-1/2 dark:bg-gray-700 dark:border-gray-600">
  
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
         <a href="/"><img src="{% static 'images/home.png'%}" alt="Rocket" class="w-5 h-5 mb-1 group-hover:opacity-75"></a>
            <span class="sr-only">Home</span>
        </button>
        <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Home
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <!-- Rocket Button -->
<button data-tooltip-target="tooltip-rocket" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="boost/"> <img src="{% static 'images/shuttle.png'%}"   alt="Rocket" class="w-5 h-5 mb-1 group-hover:opacity-75"></a>
    <span class="sr-only">Rocket</span>
</button>
<div id="tooltip-rocket" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Rocket
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<!-- Invite Button -->
<button data-tooltip-target="tooltip-invite" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="#"> <img src="{% static 'images/invite.png'%}" alt="Invite" class="w-5 h-5 mb-1 group-hover:opacity-75"></a>
    <span class="sr-only">Invite</span>
</button>
<div id="tooltip-invite" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Invite
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<!-- Task Button -->
<button data-tooltip-target="tooltip-invite" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="task"> <img src="{% static 'images/task.png'%}" alt="Invite" class="w-5 h-5 mb-1 group-hover:opacity-75"></a>
    <span class="sr-only">Task</span>
</button>
<div id="tooltip-invite" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Task
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>




<!-- Wallet Button -->
<button data-tooltip-target="tooltip-wallet" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="wallet"> <img src= "{% static 'images/wallet.png'%}" alt="Wallet" class="w-5 h-5 mb-1 group-hover:opacity-75"></a>
    <span class="sr-only">Wallet</span>
</button>
<div id="tooltip-wallet" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Wallet
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
</div>







<script src="{% static 'js/pain.js' %}"></script>
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  
 <script src="{% static 'js/counter_refresh.js' %}"></script>
</body>
    </html>
